// **Footer

footer{
    background-color: $color-background;
    padding: 80px 0 60px 0;
    
    
    hr{
        height: 0px;
        opacity: 0.4;
        border: 1px solid #FFFFFF;
    }
}

.team{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
    padding: 80px 5% 96px 5%;

    div{

        &:nth-child(1){
            display: flex;
            flex-direction: column;
            gap: 32px;
            justify-content: center;
        }

        &:nth-child(2){
            width: 100%;
            display: flex;
            justify-content: end;
        }

    }
    h3{
        @include fontAll($font-helvetica, 3.6rem, 400, #fff);
        line-height: 46px;
    }

    p{
        @include fontAll($font-arial, 1.6rem, 400, #fff);
        line-height: 26px;
        opacity: 0.6;
    }

    button{
        @include fontAll($font-arial, 1.6rem, 400, #fff);
        height: 56px;
        padding: 0px 74px 0px 74px;
        letter-spacing: 0.04em;
        background-color: $color-back-clear;
        border-style: none;
        text-align: center;
    }
}

.logo-footer{
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-footer {
    padding: 96px 5% 0 5%;
    
    h2{
        @include fontAll($font-gilroy, 2.8rem, normal, #fff);
        letter-spacing: 0.02em;
    }    
}

.list-nav-footer{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: space-between;

    h3{
        @include fontAll($font-helvetica, 2rem, 700, #fff);
    }

    span{
        font-weight: 700;
        font-family: $font-helvetica;
        margin-right: 16px;
    }

    li{
        margin-bottom: 20px;

        &:nth-child(1){
            margin-bottom: 30px;
        }
    }

    p, a{
        @include fontAll($font-arial, 1.6rem, 400, #fff);
        text-decoration: none;
    }
}

.credit-footer{
    @include fontAll($font-arial, 1.6rem, normal, #fff);
    margin-top: 64px;
    line-height: 26px;
    letter-spacing: 0.05em;
    opacity: 0.4;
}

@media(max-width:430px){

    footer {
        background-color: #316099;
        padding: 0px 0 60px 0;

        .team {
            flex-direction: column;

            div{

                &:nth-child(2) {
                    margin-top: 50px;
                    width: 100%;
                }
            }

            button {
                width: 100%;
            }
        }
    }

    .nav-footer {
        padding: 30px 5% 0 5%;
    }

    .list-nav-footer {
        flex-direction: column;
        
        &>li {
            
            p, a {
                display: flex;
            }
        }
    }

    .list-nav-footeri p, .list-nav-footer a {
        display: flex;
    }
}
