@font-face {
    font-family: "Gilroy";
    src: url("../../files/Gilroy-FREE/Gilroy-ExtraBold.otf") format("opentype");
}

$font-helvetica: Helvetica;
$font-arial: Arial;
$font-gilroy: "Gilroy";

$color-text: #1F3F68;
$color-subtitle: #356EAD;
$color-input: #F4F4F4;
$color-background: #316099;
$color-back-clear: #5A98D0;