.clientes{
    padding: 30px 50px 100px 50px;
    background-color: #3F4E62;

    h2{
        color: #ADFF28;
    }
}
.clientes_container_img{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    figure{
        margin-right: 10px;
    }
}