.contact{
    padding: 100px 0px 40px 0px;
    form{
        margin-top: 30px;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-gap: 20px;
        div{
            display: flex;
            justify-content: space-between;
            gap: 20px;
        }
        button{
            width: 150px;
            margin: auto;
            padding: 15px 50px 15px 50px;
            border: 1px solid $color_primary;
            background-color: $color_primary;
            color: #fff;
            border-radius: 10px;
            font-family: $font_info;
            font-weight: 700;
        }
        textarea{
            width: 620px;
            resize: none;
        }
        input, select{
            width: 300px;
        }
    }
}
.contact{
    form{
        input,select, textarea{
            padding: 15px 0px 15px 15px;
            font-size: 1.3rem;
            font-weight: 400;
            font-family: $font_info;
            border-radius: 10px;
            border-style: none;
            border: 1px solid $color_primary;
            &:focus{
                border: 1px solid $color_secondary;
                outline: none
            }
        }
    }
}