@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Poppins:wght@500;600;700&family=Raleway:wght@400;500;600;700&display=swap');

$font_primary: 'Beth Ellen', cursive;
$font_secondary: 'Poppins', sans-serif;
$font_info: 'Raleway', sans-serif;

$color_primary: #6D0AD3;
$color_secondary: #00CF95;
$color_hover: #5A0CB0;
$color_text: #0176B5;