.btn{
    display: block;
    width: 60%;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;

    &-primario{
        background-color: blue;
        color: white;
    }

    &-secundario{
        background-color: orange;
        color: white;
    }

    &-success{
        background-color: green;
        color: white;
    }
}