@media(max-width:430px){
    /* HEADER */
    .header {
        nav ul {
            font-size: 1.6rem;
        }
        section div p {
            font-size: 1.3rem;
            line-height: 23px;
        }
        &> section > div h1 {
            font-size: 2.4rem;
            font-weight: 700;
            margin-bottom: 18px;
        }
    }
    /* POPULAR */
    .popular {
        h3 {
            font-size: 2rem;
            /* line-height: 38px; */
        }
        p {
            font-size: 1.4rem;
        }
    }
    .popular--principal {
        & > div {
            flex-direction: column;
            width: 100%;
            & > {
                div {
                    flex-direction: column;
                    width: 100%;
                }
                figure {
                    width: 100%;
                    order: -1;
                }
            }
        }
    }
    .popular--secondary {
        flex-direction: column;
        h3 {
            font-size: 1.8rem;
            gap: 30px;
        }
        &> div {
            width: 100%;
        }
    }
    .popular--article h3 {
        font-size: 1.6rem;
    }

    /* ARTICLE */
    .article {
        h3 {
            display: none;
        }
        &> {
            div{ 
                & > div {
                    flex-direction: column;
                    &> {
                        figure {
                            width: 100%;
                        }
                        div {
                            width: 100%;
                        }
                    }
                }
                .article-post {        
                    flex-direction: row;
                    justify-content: end;
                }
            }
        }
    }
    .article-post {
        p{
            &:nth-child(1){
                display: none;
            }
            &:nth-child(2){
                display: flex;
                justify-content: end;
                span{
                    display: none;
                }
            }
        }
    }

    /* FOOTER */
    footer {
        background-color: #316099;
        padding: 0px 0 60px 0;
        .team {
            flex-direction: column;
            div{
                &:nth-child(2) {
                    margin-top: 50px;
                    width: 100%;
                }
            }
            button {
                width: 100%;
            }
        }
        .nav-footer {
            padding: 30px 5% 0 5%;
        }
    }
    .nav-footer > ul {
        flex-direction: column;
        &>li {
            p, a {
                display: flex;
            }
        }
    }
    .nav-footer > ul >li p, .nav-footer > ul >li a {
        display: flex;
    }
}