@import url("https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Poppins:wght@500;600;700&family=Raleway:wght@400;500;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

h1 {
  font-family: "Beth Ellen", cursive;
  font-weight: 400;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2.8rem;
  color: #0098EF;
}

a {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

main {
  max-width: 960px;
  min-width: 960;
  width: 960px;
  margin: auto;
}

.listadoClick {
  color: #6D0AD3;
}

.listadoClick > div {
  bottom: 0px;
  right: 0px;
  width: 100%;
  border-bottom: 4px solid #6D0AD3;
  background-color: #6D0AD3;
  border-radius: 20px;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 20px;
  height: 50px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.4rem;
}

header ul li a {
  color: #262626;
  font-weight: 500;
  padding: 10px;
  position: relative;
  text-align: center;
}

header ul li a div {
  position: absolute;
  height: 4px;
}

header ul li a:hover {
  color: #00CF95;
}

header ul li a:hover > div {
  bottom: 0px;
  right: 0px;
  right: 50%;
  width: 4px;
  border-radius: 50%;
  background-color: #00CF95;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.title {
  position: relative;
  font-size: 2.1rem;
  display: inline;
}

.title figure {
  position: absolute;
  display: block;
}

.title figure:nth-child(2) {
  left: 4px;
  top: 0px;
}

.title figure:nth-child(3) {
  left: 8px;
}

.title figure:nth-child(4) {
  left: 12px;
}

.title h1 {
  position: absolute;
  left: 32px;
  top: 32%;
  color: #6D0AD3;
  text-shadow: 0px 2px #9DBF7A;
}

main {
  padding-top: 70px;
}

.about_me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container_description {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.container_description p:nth-child(1) {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
}

.container_description .name {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 3.2rem;
  margin-top: 20px;
  color: #000;
}

.container_description .front {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #00CF95;
  font-size: 3.8rem;
  margin-top: 20px;
}

.container_description .description {
  font-family: "Raleway", sans-serif;
  border-left: 4px solid #80E7CA;
  font-size: 1.3rem;
  font-weight: 600;
  padding-left: 20px;
  margin-top: 20px;
  line-height: 24px;
}

.about_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.about_container button {
  font-family: "Raleway", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 10px 30px 10px 30px;
  border: 1px solid #6D0AD3;
  color: white;
  background-color: #6D0AD3;
}

.about_container button:hover {
  color: #6D0AD3;
  background-color: white;
  border: 1px solid #6D0AD3;
}

.social {
  font-size: 2.4rem;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.social ul li a {
  color: #000;
}

.social ul li:nth-child(1) a {
  color: #0176B5;
}

.social ul li:nth-child(3) {
  background-color: #000;
  width: 24px;
  text-align: center;
  border-radius: 100%;
}

.social ul li:nth-child(3) a {
  color: #fff;
  font-size: 1.8rem;
}

.social ul li:nth-child(5) a {
  color: #44C24F;
}

.photo_profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.photo_profile figure {
  width: 100%;
  background-color: #D1FFA2;
  border-radius: 100%;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
}

.photo_profile figure img {
  width: 95%;
  height: auto;
}

.container_share {
  width: 20%;
}

.container_share div {
  text-align: center;
}

.container_share div p {
  border-top: 1px solid #8F949D;
  border-left: 1px solid #8F949D;
  border-right: 1px solid #8F949D;
  border-top-left-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
  padding: 2px 0px 2px 0px;
}

.like {
  width: 100%;
  background-color: #507FF7;
  border: 1px solid #507FF7;
  padding: 5px 0px 2px 0px;
  border-bottom-left-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
}

.like a {
  color: #fff;
}

.like a:hover {
  color: #507FF7;
}

.like:hover {
  background-color: #fff;
  color: #fff;
  border: 1px solid #507FF7;
}

.share {
  margin: 2px 0 2px 0;
  padding: 5px 0px 2px 0px;
  border: 1px;
  width: 100%;
  background-color: #3975EA;
  border: 1px solid #3975EA;
  border-radius: 3px;
}

.share a {
  color: #fff;
}

.share a:hover {
  color: #3975EA;
}

.share:hover {
  background-color: #fff;
  color: #fff;
  border: 1px solid #3975EA;
}

.twitter {
  margin: 10px 0 2px 0;
  padding: 5px 0px 2px 0px;
  border-radius: 5px;
  border: 1px;
  width: 100%;
  background-color: #4793DA;
  border: 1px solid #4793DA;
}

.twitter a {
  color: #fff;
}

.twitter a:hover {
  color: #4793DA;
}

.twitter:hover {
  background-color: #fff;
  color: #fff;
  border: 1px solid #4793DA;
}

.down div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 65px;
  /* padding-bottom: 65px; */
  color: #00CF95;
}

.down div i {
  font-size: 6rem;
}

.down div p {
  font-family: "Raleway", sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
}

.portfolio {
  padding: 100px 0px 0px 0px;
}

.portfolio > h2 {
  margin-bottom: 30px;
}

.portfolio div {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.portfolio div figure {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.portfolio div figure img {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.portfolio div .figure {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio div .figure .figure-background {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(109, 10, 211, 0.8);
  width: 80%;
  padding: 10px;
  position: absolute;
  border-radius: 10px;
  -webkit-transition: display 2s;
  transition: display 2s;
}

.portfolio div .figure .figure-background h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  color: #E0E0E0;
  font-weight: 600;
}

.portfolio div .figure .figure-background p {
  font-family: "Raleway", sans-serif;
  font-size: 1.3rem;
  color: #E0E0E0;
  line-height: 19px;
  font-weight: 600;
}

.portfolio div .figure .figure-background .figure-pop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5px;
}

.portfolio div .figure .figure-background .figure-pop p {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  padding: 2px;
  background-color: #D1FFA2;
  color: #5A0CB0;
  border-radius: 5px;
}

.portfolio div .figure:hover .figure-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services {
  padding: 100px 0px 0px 0px;
}

.services > h2 {
  margin-bottom: 30px;
}

.container_services {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.service_background {
  width: 310px;
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #00CF95;
  border: 4px solid #D1FFA2;
  padding: 30px 0px 50px 30px;
  border-radius: 10px;
}

.service_background i {
  font-size: 5rem;
  color: #fff;
}

.service_background p {
  font-family: "Poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -ms-flex-item-align: end;
      align-self: end;
  padding: 6px 15% 6px 15%;
  background-color: #D1FFA2;
  text-align: end;
  color: #5A0CB0;
  font-weight: 500;
  font-size: 2.4rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.service_background:nth-child(odd) {
  -ms-grid-column-align: end;
      justify-self: end;
}

.service_background:hover {
  border: 4px solid #5A0CB0;
}

.service_background:hover > i {
  color: #5A0CB0;
}

.service_background:hover > p {
  color: #fff;
  background: #5A0CB0;
}

.blog .blog_grid div:nth-child(1) figure,
.blog .blog_grid div:nth-child(1) figure img,
.blog .blog_grid div:nth-child(2) figure,
.blog .blog_grid div:nth-child(2) figure img,
.blog .blog_grid div:nth-child(3) figure,
.blog .blog_grid div:nth-child(3) figure img,
.blog .blog_grid div:nth-child(4) figure,
.blog .blog_grid div:nth-child(4) figure img,
.blog .blog_grid div {
  display: block;
}

.blog .blog_grid div:nth-child(2),
.blog .blog_grid div:nth-child(4) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog {
  padding: 100px 0px 0px 0px;
}

.blog > h2 {
  margin-bottom: 30px;
}

.blog .blog_grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

.blog .blog_grid div:nth-child(1) {
  -ms-grid-column: 1;
  grid-column: 1;
  grid-row: span 2;
}

.blog .blog_grid div:nth-child(1) h2 {
  font-size: 2.8rem;
  color: #000;
  font-family: "Poppins", sans-serif;
  margin: 20px 0px 20px 0px;
  font-weight: 600;
}

.blog .blog_grid div:nth-child(1) > p {
  font-size: 1.3rem;
  line-height: 26px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.blog .blog_grid div:nth-child(1) > p span {
  color: #5A0CB0;
  text-decoration: underline;
  font-weight: 700;
}

.blog .blog_grid div:nth-child(2) h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  color: #000;
  line-height: 18px;
  font-weight: 600;
}

.blog .blog_grid div:nth-child(2) p {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 20px;
  font-size: 1.1rem;
}

.blog .blog_grid div:nth-child(3) h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
}

.blog .blog_grid div:nth-child(3) p {
  font-family: "Raleway", sans-serif;
  font-size: 1.1rem;
  line-height: 20px;
}

.blog .blog_grid div:nth-child(4) div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.blog .blog_grid div:nth-child(4) h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  color: #000;
  line-height: 18px;
  font-weight: 600;
  margin-left: 17px;
}

.blog .blog_grid div:nth-child(4) p {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 20px;
  font-size: 1.1rem;
  padding-left: 17px;
}

.blog .blog_grid div:nth-child(5) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog .blog_grid div:nth-child(5) p {
  font-family: "Raleway", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 27px;
}

.blog .blog_grid div:nth-child(5) div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog .blog_grid div:nth-child(5) div input {
  width: 100%;
  padding: 15px 0px 15px 15px;
  font-family: "Raleway", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  border: 1px solid #000;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.blog .blog_grid div:nth-child(5) div button {
  font-family: "Raleway", sans-serif;
  font-size: 1.3rem;
  padding: 15px 30px;
  border: 1px solid #6D0AD3;
  background-color: #6D0AD3;
  color: #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.contact {
  padding: 100px 0px 40px 0px;
}

.contact form {
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 20px;
}

.contact form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.contact form button {
  width: 150px;
  margin: auto;
  padding: 15px 50px 15px 50px;
  border: 1px solid #6D0AD3;
  background-color: #6D0AD3;
  color: #fff;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.contact form textarea {
  width: 620px;
  resize: none;
}

.contact form input, .contact form select {
  width: 300px;
}

.contact form input, .contact form select, .contact form textarea {
  padding: 15px 0px 15px 15px;
  font-size: 1.3rem;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  border-radius: 10px;
  border-style: none;
  border: 1px solid #6D0AD3;
}

.contact form input:focus, .contact form select:focus, .contact form textarea:focus {
  border: 1px solid #00CF95;
  outline: none;
}

footer {
  padding-bottom: 20px;
}

footer > div {
  padding: 30px 0px 30px 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

footer > div > div {
  -ms-grid-column-align: center;
      justify-self: center;
}

footer > div .social_footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer > div h2 {
  text-align: center;
  line-height: 35px;
  color: #00CF95;
  font-weight: 500;
  font-size: 2.8rem;
}

footer > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.4rem;
  margin-bottom: 50px;
}

footer > ul li a {
  color: #262626;
  font-weight: 500;
  padding: 10px;
  position: relative;
  text-align: center;
}

footer > ul li a div {
  position: absolute;
  height: 4px;
}

footer > ul li a:hover {
  color: #00CF95;
}

footer > ul li a:hover > div {
  bottom: 0px;
  right: 0px;
  right: 50%;
  width: 4px;
  border-radius: 50%;
  background-color: #00CF95;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

footer > ul li a:active {
  color: #6D0AD3;
}

footer > ul li a:active > div {
  bottom: 0px;
  right: 0px;
  width: 100%;
  border-bottom: 4px solid #6D0AD3;
  background-color: #6D0AD3;
  border-radius: 20px;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

footer > p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Raleway';
  font-size: 1.2rem;
  font-weight: 400;
}

footer > p > i {
  color: red;
}

.social_footer {
  font-size: 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
}

.social_footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 12px;
}

.social_footer ul li a {
  color: #000;
}

.social_footer ul li:nth-child(1) a {
  color: #0176B5;
}

.social_footer ul li:nth-child(3) {
  background-color: #000;
  width: 24px;
  text-align: center;
  border-radius: 100%;
}

.social_footer ul li:nth-child(3) a {
  color: #fff;
  font-size: 1.8rem;
}

.social_footer ul li:nth-child(5) a {
  color: #44C24F;
}

footer .title figure, footer .title figure img {
  width: auto;
  height: auto;
}
/*# sourceMappingURL=style-pre.css.map */