@font-face {
    font-family: 'Gilroy';
    src: url('../files/Gilroy-FREE/Gilroy-ExtraBold.otf');
}

/* GLOBALES */
html{
    font-size: 62.5%;
}
/* header */
.header nav{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 40px;
}
.header nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    font-family: Helvetica;
    font-size: 2rem;
}
.header--active{
    font-weight: 700;
    color: #1F3F68;
}
.header section{
    position: relative;
    display: block;
}
.header section figure, .header section figure img{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}
.header section div{
    padding: 50px 220px 50px 220px;
    font-family: Arial;
    color: #fff;
    text-align: center;
}
.header section div h1{
    font-size: 4.4rem;
    margin-bottom: 40px;
}
.header section div p{
    font-size: 2rem;
    line-height: 30px;
}

/* Main */
main{
    padding: 55px 5% 0px 5%;
}

/* Search */
.search{
    padding-bottom: 56px;
}
.search form{
    display: flex;
}
.search form button{
    padding: 16px 24px;
    font-size: 1.7rem;
    border-style: none;
    background-color:  #F4F4F4;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    opacity: 0.6;
}
.search form button i{
    color: #1F3F68;
    opacity: 0.6;
}
.search form input{
    width: 100%;
    border-style: none;
    background-color:  #F4F4F4;
    color: #1F3F68;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: 0.6;
}

/* Popular */
.popular h2{
    font-family: Helvetica;
    font-size: 2rem;
    font-weight: 700;
    color: #356EAD;
    margin-bottom: 34px;
}
.popular h3{
    font-family: Helvetica;
    font-size: 3.6rem;
    font-weight: 700;
    color: #1F3F68;
    line-height: 46px;
    margin-bottom: 17px;
}
.popular p{
    font-family: Arial;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.04em;
    opacity: 0.6;
    line-height: 26px;
    margin-bottom: 18px;
    text-align: justify;
}
.popular h4{
    font-family: Helvetica;
    font-size: 1.4rem;
    font-weight: 700;
    color: #1F3F68;
}
.popular--author > h4{
    font-family: Helvetica;
    font-size: 1.4rem;
    font-weight: 700;
    color: #1F3F68;
}
.popular--author > p{
    font-family: Arial;
    font-size: 1.4rem;
    font-weight: 400;
    opacity: 0.4;
    margin-bottom: 0px;
}
.popular--principal{
    padding-bottom: 32px ;
}
.popular--principal > div{
    display: flex;
    gap: 20px;
    width: 100%;
}
.popular--principal > div > figure{
    width: 57%;
}
.popular--principal > div > figure > img{
    width: 100%;
    height: 100%;
}
.popular--principal >div >div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 43%;
}
.popular--credit{
    display: flex;
    justify-content: space-between;
}
.popular--share{
    display: flex;
    align-items: center;
    gap: 35px;
}
.popular--share i{
    font-size: 1.8rem;
    color: #356EAD;
}
.popular--secondary{
    padding-bottom: 50px;
}
.popular--secondary h3{
    line-height: 32px;
    font-size: 2.2rem;
}
.popular--secondary{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.popular--secondary > div{
    width: 33%;
}
.popular--secondary figure, .popular--secondary figure img{
    width: 100%;
}
.popular--article{
    width: 100%;
    display: flex;
    justify-content: end;
}
.popular--article h3{
    text-transform: uppercase;
    font-family: Helvetica;
    font-weight: 700;
    font-size: 1.6rem;
    color: #356EAD;
    opacity: 0.8;
    
}
main hr{
    height: 0px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

/* Article */

.article{
    padding: 55px 0 95px 0;
}
.article h3{
    font-family: Helvetica;
    font-size: 2rem;
    font-weight: 700;
    opacity: 0.8;
    color: #356EAD;
    padding-bottom: 34px;
}
.article > div > div > div > div > h4{
    font-family: Helvetica;
    font-size: 1.8rem;
    font-weight: 700;
    color: #1F3F68;
}
.article p{
    font-family: Arial;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.04em;
}

.article > div{
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
}
.article > div > div{
    display: flex;
    gap: 20px;
}
.article > div > div > figure{
    width: 35%;
}
.article > div > div > figure img{
    width: 100%;
    height: 100%;
}
.article > div > div >div{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
}
.article > div .article-post{
    margin-top: 56px;
    justify-content: space-between;
    color: #356EAD;
}
.article-post > p:nth-child(1) span{
    margin-right: 20px;
}
.article-post > p:nth-child(2) span{
    margin-left: 20px;
}

/* Footer */
footer{
    background-color: #316099;
    padding: 80px 0 60px 0;
}
footer .team{
    padding: 80px 5% 96px 5%;
}
footer .nav-footer{
    padding: 96px 5% 0 5%;
}
footer .team{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
}
footer .team div:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}
footer .team div h3{
    font-family: Helvetica;
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 46px;
    color: #fff;
}
footer .team div p{
    font-family: Arial;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 26px;
    color: #fff;
    opacity: 0.6;
}
footer .team div:nth-child(2){
    width: 100%;
    display: flex;
    justify-content: end;
}
footer .team button{
    height: 56px;
    padding: 0px 74px 0px 74px;
    font-family: Arial;
    font-size: 1.6rem;
    font-weight: 400;
    color: #fff;
    letter-spacing: 0.04em;
    background-color: #5A98D0;
    border-style: none;
    text-align: center;
}


footer hr{
    height: 0px;
    opacity: 0.4;
    border: 1px solid #FFFFFF;
}

.nav-footer h2{
    font-family: 'Gilroy';
    color: #fff;
    font-size: 2.8rem;
    letter-spacing: 0.02em;
}

.nav-footer > ul{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: space-between;
}
.logo-footer{
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-footer > ul >li h3{
    font-family: Helvetica;
    font-weight: 700;
    font-size: 2rem;
    color: #fff;
}
.nav-footer > ul >li p, .nav-footer > ul >li a{
    font-family: Arial;
    font-size: 1.6rem;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
}
.nav-footer > ul >li span{
    font-weight: 700;
    font-family: Helvetica;
    margin-right: 16px;
}
.nav-footer >ul>li ul li{
    margin-bottom: 20px;
}
.nav-footer >ul>li ul li:nth-child(1){
    margin-bottom: 30px;
}

.nav-footer > p{
    margin-top: 64px;
    font-family: Arial;
    font-size: 1.6rem;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #fff;
    opacity: 0.4;
}


/* Responsive 828px */
@media(max-width:828px){
    /* Header */
    .header section div {
        padding: 50px 24% 50px 24%;
    }
    .header > section > div h1{
        font-size: 3.2rem;
    }
    .header > section > div p{
        font-size: 1.6rem;
        color: rgba(255, 255, 255, 0.78);
    }
    .header >section >div p>br{
        display: none;
    }

    /* Popular */
    .popular h3{
        font-size: 2.8rem;
        line-height: 38px;
    }
    .popular--secondary h3 {
        font-size: 1.8rem;
        line-height: 26px;
    }
    .popular--article h3 {
        font-size: 1.8rem;
    }

}

/* Responsive 430px */
@media(max-width:430px){
    /* HEADER */
    .header nav ul {
        font-size: 1.6rem;
    }
    .header > section > div h1 {
        font-size: 2.4rem;
        font-weight: 700;
        margin-bottom: 18px;
    }
    .header section div p {
        font-size: 1.3rem;
        line-height: 23px;
    }

    /* POPULAR */
    .popular h3 {
        font-size: 2rem;
        /* line-height: 38px; */
    }
    .popular p {
        font-size: 1.4rem;
    }
    .popular--secondary h3 {
        font-size: 1.8rem;
        gap: 30px;
    }
    .popular--principal > div {
        flex-direction: column;
        width: 100%;
    }
    .popular--principal >div >div {
        flex-direction: column;
        width: 100%;
    }
    .popular--principal > div > figure {
        width: 100%;
        order: -1;
    }
    .popular--secondary {
        flex-direction: column;
    }
    .popular--secondary > div {
        width: 100%;
    }
    .popular--article h3 {
        font-size: 1.6rem;
    }

    /* ARTICLE */
    .article h3 {
        display: none;
    }
    .article > div > div {
        flex-direction: column;
    }
    .article > div > div > figure {
        width: 100%;
    }
    .article > div > div >div {
        width: 100%;
    }
    .article > div .article-post {        
        flex-direction: row;
        justify-content: end;
    }
    .article-post p:nth-child(1){
        display: none;
    }
    .article-post p:nth-child(2){
        display: flex;
        justify-content: end;
    }
    .article-post p:nth-child(2) span{
        display: none;
    }

    /* FOOTER */
    footer {
        background-color: #316099;
        padding: 0px 0 60px 0;
    }
    footer .team {
        flex-direction: column;
    }
    footer .team div:nth-child(2) {
        margin-top: 50px;
        width: 100%;
    }
    footer .team button {
        width: 100%;
    }
    footer .nav-footer {
        padding: 30px 5% 0 5%;
    }
    .nav-footer > ul {
        flex-direction: column;
    }
    .nav-footer > ul >li p, .nav-footer > ul >li a {
        display: flex;
    }
}